*{
    font-family: 'Times New Roman', Times, serif;
}

body{
    margin: 10px;
    /*display: flex;*/
}

img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    float: left;
    padding: 20px ;
}

a:link {
    color: rgb(34, 0, 255);
  }
  
  /* visited link */
  a:visited {
    color: rgb(94, 0, 128);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(105, 255, 118);
  }
  
  /* selected link */
  a:active {
    color: rgb(235, 243, 0);
  }

  hr{
    border: none;
    border-top: 10px dotted gray;
    width: 100px;
    height: 5px;
    /*flex:center;*/
  }

  table, td, th{
    border: 1px solid;
  }

  table{
    width: 150px;
  }